@import "tailwindcss";
* {
  font-family: var(--font-tourney);
}

.app-container {
  background-image: radial-gradient(black 5%, rgb(38, 60, 77));  
  min-height: 100vh;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.title {
  grid-column: 2;
  text-align: center;
  align-items: center;
}

.image {
  grid-column: 3;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 1rem;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.prompt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  width: 10rem;
  margin: 1rem;
  height: 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

textarea {
  color: black;
  background-color: white;
  width: 40rem;
  height: 25rem;  
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

input {
  background-color: white;
  width: 40rem;
  height: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top: 1px solid black;
  padding: 0.5rem;
}