# Core AI
ollama==0.6.1
faster-whisper==0.10.1
openai==2.15.0

# Google Calendar
google-api-python-client==2.188.0
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.4

# Audio
pvrecorder==1.2.7
webrtcvad-wheels==2.0.14

# Canvas / Weather API
requests==2.32.5

# Utils
python-dotenv==1.2.1
pytz==2026.1.post1
tzlocal==5.3.1